---
- name: "APT: install keepalived and helpers"
  ansible.builtin.apt:
    pkg:
      - keepalived
      - curl
      - netcat-openbsd
      - openssl
    state: present
  when: ansible_os_family == 'Debian'

- name: "DNF: install keepalived and helpers"
  ansible.builtin.dnf:
    name:
      - keepalived
      - curl
      - netcat
      - openssl
    state: present
  when: ansible_os_family == 'RedHat'

- name: "create keepalived script directory"
  file:
    path: /usr/libexec/keepalived
    setype: "{{ 'keepalived_unconfined_script_exec_t' if ansible_os_family == 'RedHat' else omit }}"
    state: directory

- name: "install healthcheck scripts"
  copy:
    src: "{{ item }}"
    dest: "/usr/libexec/keepalived/{{ item }}"
    mode: "0755"
    setype: "{{ 'keepalived_unconfined_script_exec_t' if ansible_os_family == 'RedHat' else omit }}"
    owner: root
  with_items:
    - healthcheck_ip.sh
    - healthcheck_tls.sh
    - healthcheck_http.sh

- name: "create keepalived include dir"
  file:
    path: "/etc/keepalived/conf.d"
    mode: "0755"
    state: directory

- name: "create main configuration"
  template:
    src: "keepalived.conf.j2"
    dest: "/etc/keepalived/keepalived.conf"
    owner: root
    mode: "0644"
  notify: keepalived_restart

- name: "create configuration files"
  template:
    src: "keepalived_vrrp.conf.j2"
    dest: "/etc/keepalived/conf.d/vrrp_{{ item.name }}.conf"
    owner: root
    mode: "0644"
  with_items: "{{ keepalived_vips }}"
  notify: keepalived_restart

- name: "UFW: enable VRRP"
  community.general.ufw:
    rule: allow
    proto: vrrp
    interface: "{{ item.vrrp_interface|default(item.interface) }}"
    direction: in
  with_items: "{{ keepalived_vips }}"
  when: ansible_os_family == 'Debian'

- name: "FirewallD: enable VRRP"
  firewalld:
    immediate: yes
    permanent: yes
    rich_rule: rule family="ipv4" protocol value="vrrp" accept
    state: enabled
  when: ansible_os_family == 'RedHat'

- name: "FirewallD: enable AH multicast (keepalived authentication)"
  firewalld:
    immediate: yes
    permanent: yes
    rich_rule: rule family="ipv4" protocol value="ah" accept
    state: enabled
  when: ansible_os_family == 'RedHat'

- name: Ensure Keepalived is enabled and started
  service:
    name: keepalived
    enabled: true
    state: started

- name: Flush Handlers
  meta: flush_handlers
